* {
    box-sizing: border-box;
}

.containerMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-color: rgb(18, 110, 141);
    width: 100vw;
    
}
.containerMe img {
    border-radius: 50%;
    width: 180px;
    margin-left: 6%;
}
.containerMe h1 {
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 5%;
    border-bottom: solid #333;
}

.containerMe p {
    font-size: 20px;
    color: white;
    margin-left: 2%;
    font-weight: 600;
    max-width: 100vw;
}